GENERATION_APP_URL=
GENERATION_SHARED_SECRET=
GENERATION_MODEL_SERVICE_URL=
GENERATION_PROVIDER=
GENERATION_MODEL_BUCKET=
GCS_CREDENTIALS=
GOOGLE_GEMINI_API_KEY=
GOOGLE_GEMINI_USE_VERTEX_AI=false
GOOGLE_GENAI_USE_VERTEXAI=false
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GEMINI_MODEL=
GOOGLE_GEMINI_TIMEOUT=